<section class='new-link'>
  <form action='/+/links' method='POST'>
    <p><input type='text' name='url' placeholder='https://...' value="<%= (params[:url] || session[:last_form]&.dig(:url))&.sub(?", '') %>" class='new-link-url' autocomplete=off></p>
    <p class='new-link-down'>⬇︎</p>
    <p><input type='text' name='linkname' placeholder='Choose a short name (Recommended)' value="<%= session[:last_form]&.dig(:linkname)&.sub(?", '') %>" class='new-link-name' autocomplete=off></p>
    <p><input type='submit' value='Shorten'></p>
  </form>
</section>

<div class='infos'>
  <% if notice_message %>
    <section>
      <h3>Notice</h3>
      <%== notice_message %>
    </section>
  <% end %>
  <section>
    <h3>Usage</h3>
    <form action='/+' method='GET'>
      <p>Edit a link: <input type='text' name='show' placeholder='name...'> <input type='submit' value='Go'></p>
    </form>
    <p>Or add + (plus) sign after the URL like: <%= base_url %>/something → /something+</p>
  </section>
</div>
