<%==
  erb(:form, locals: {
    url: params[:url] || session[:last_form]&.dig(:url),
    linkname: params[:linkname] || session[:last_form]&.dig(:linkname),
  })
%>

<div class='infos'>
  <% if notice_message %>
    <section>
      <h3>Notice</h3>
      <%== notice_message %>
    </section>
  <% end %>
  <section>
    <h3>Usage</h3>
    <form action='/+' method='GET'>
      <p>Edit a link: <input type='text' name='show' placeholder='name...'> <input type='submit' value='Go'></p>
    </form>
    <p>Or add + (plus) sign after the URL like: <%= base_url %>/something → /something+</p>
  </section>
</div>
