<form action='/+/links' method='POST'>
  <p><input type='text' name='url' placeholder='https://...'></p>
  <p><input type='text' name='name' placeholder='Short name'></p>
  <p><input type='submit' value='Shorten'></p>
</form>

<nav>
  <form action='/+' method='GET'>
    <p>Edit a link: <input type='text' name='show' placeholder='name...'></p>
  </form>
  <a href='/+/links'>Recent links</a>
</nav>
